.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    width: auto;
    max-width: none;
    padding: 0;
    margin-top: .125rem;
    top: 0;
    left: 0;
    z-index: 1070;
    display: none;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.1)
}

.daterangepicker.drop-up {
    margin-top: -.5rem
}

.daterangepicker.single .daterangepicker .ranges,.daterangepicker.single .drp-calendar {
    float: none
}

.daterangepicker.auto-apply .drp-buttons,.daterangepicker.single .drp-selected {
    display: none
}

.daterangepicker.show-calendar .drp-calendar {
    display: block
}

.daterangepicker.show-calendar .drp-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.daterangepicker .drp-calendar {
    display: none
}

.daterangepicker .drp-calendar.left,.daterangepicker .drp-calendar.right {
    padding: .9375rem
}

.daterangepicker .calendar-table .next,.daterangepicker .calendar-table .prev {
    cursor: pointer
}

.daterangepicker .calendar-table .next span,.daterangepicker .calendar-table .prev span {
    border: solid #333;
    border-width: 0 .125rem .125rem 0;
    border-radius: 0;
    display: inline-block;
    padding: .1875rem
}

.daterangepicker .calendar-table .next span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.daterangepicker .calendar-table .prev span {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.daterangepicker .calendar-table table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse
}

.daterangepicker th {
    font-weight: 400
}

.daterangepicker th.month {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem
}

.daterangepicker td,.daterangepicker th {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: .4375rem;
    min-width: 2.25rem;
    cursor: default;
    font-size: .8125rem;
    border-radius: .25rem;
    transition: color ease-in-out .15s,background-color ease-in-out .15s
}

.daterangepicker td.available:hover,.daterangepicker th.available:hover {
    background-color: #eee;
    color: #333
}

.daterangepicker td.week,.daterangepicker th.week {
    font-size: 80%;
    color: #999
}

.daterangepicker td.off,.daterangepicker td.off.end-date,.daterangepicker td.off.in-range,.daterangepicker td.off.start-date {
    background-color: transparent;
    color: #ccc
}

.daterangepicker td.in-range {
    background-color: #eee;
    color: #333;
    border-radius: 0
}

.daterangepicker td.start-date {
    border-radius: .25rem 0 0 .25rem
}

.daterangepicker td.end-date {
    border-radius: 0 .25rem .25rem 0
}

.daterangepicker td.start-date.end-date {
    border-radius: .25rem
}

.daterangepicker td.active:not(.off),.daterangepicker td.active:not(.off):hover {
    color: #fff;
    background-color: #26a69a
}

.daterangepicker option.disabled,.daterangepicker td.disabled {
    color: #ccc;
    cursor: default
}

.daterangepicker select {
    display: inline-block;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.6924;
    color: #333;
    vertical-align: middle;
    height: calc(1.6924em + .625rem + 2px);
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .875rem center/8px 10px no-repeat;
    border: 1px solid #ddd;
    padding: .3125rem 2.0625rem .3125rem .75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: none;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .daterangepicker select {
        transition: none
    }
}

.daterangepicker select:focus {
    border-color: #2196f3;
    outline: 0
}

.daterangepicker select.monthselect,.daterangepicker select.yearselect {
    margin: 0;
    cursor: default;
    width: 49%
}

.daterangepicker select.monthselect {
    margin-right: 2%
}

.daterangepicker .calendar-time {
    text-align: center;
    margin: .9375rem auto 0 auto;
    position: relative
}

.daterangepicker .calendar-time select.disabled {
    color: #999;
    background-color: #f5f5f5;
    cursor: default
}

.daterangepicker .drp-buttons {
    clear: both;
    padding: .9375rem;
    border-top: 1px solid #ddd;
    display: none
}

.daterangepicker .drp-buttons .btn {
    margin-left: .625rem
}

.daterangepicker .drp-selected {
    display: inline-block;
    font-size: .8125rem;
    margin-right: auto
}

.daterangepicker .ranges {
    float: none;
    text-align: left;
    margin: 0;
    padding: .5rem 0
}

.daterangepicker .ranges:empty {
    display: none
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%
}

.daterangepicker .ranges li {
    color: #333;
    font-size: .8125rem;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: color ease-in-out .15s,background-color ease-in-out .15s
}

.daterangepicker .ranges li:hover {
    color: #333;
    background-color: #eee
}

.daterangepicker .ranges li.active {
    color: #fff;
    background-color: #2196f3
}

@media (max-width: 768.98px) {
    .daterangepicker {
        margin-left:1.25rem;
        margin-right: 1.25rem
    }

    .daterangepicker.opensleft,.daterangepicker.opensright {
        left: 0!important;
        right: 0!important
    }

    .daterangepicker.opensleft .calendar,.daterangepicker.opensleft .calendars,.daterangepicker.opensleft .ranges,.daterangepicker.opensright .calendar,.daterangepicker.opensright .calendars,.daterangepicker.opensright .ranges {
        float: none
    }

    .daterangepicker .calendar {
        margin-left: 0;
        margin-right: 0
    }

    .daterangepicker .ranges {
        width: 100%
    }

    .daterangepicker .drp-selected {
        width: 100%;
        margin-bottom: .625rem
    }

    .daterangepicker.show-calendar.show-ranges .ranges {
        border-bottom: 1px solid #ddd
    }

    .daterangepicker.show-calendar .drp-buttons {
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
}

@media (min-width: 576px) {
    .daterangepicker.show-ranges.rtl .drp-calendar.right,.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
        border-right:1px solid #ddd
    }

    .daterangepicker.show-ranges.ltr .drp-calendar.left,.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
        border-left: 1px solid #ddd
    }

    .daterangepicker .drp-calendar,.daterangepicker .ranges {
        float: left
    }

    .daterangepicker .ranges {
        min-width: 12.5rem
    }
}