.wizard-progress {
    --node-width: 3rem;

    display: table;
    width: 100%;
    table-layout: fixed;
    position:relative;

    .step{
        height:5rem;
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
        overflow: visible;
        position:relative;
        font-size: 16px;
        color: var(--gray);
        font-weight: 500;

        &:not(:last-child):before{
            content: '';
            display:block;
            position: absolute;
            left: calc(50% + var(--node-width)/2);
            top: 0;
            background-color: var(--gray);
            height: 1.5px;
            width: calc(100% - var(--node-width));
        }

        .node{
            display: inline-block;
            border: 2px solid var(--gray);
            background-color: var(--white);
            border-radius: 50%;
            width: var(--node-width);
            aspect-ratio: 1/1;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }

        &.complete{
            color: var(--dark);

            &:before{
                background-color: var(--blue);
            }
            .node{
                border-color: var(--blue);
                color: var(--blue);
            }
        }

    }
}

.wizard-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;

    .step {
        display: flex;
        flex-direction: column;
        
        .step-header {
            font-size: 18px;
            font-weight: 500;
            position: relative;
            display: flex;
            align-items: center;
            height: 2.5rem;
            padding-left: 2.5rem;
            margin-bottom: 0.4rem;
            color: var(--gray);

            .node {
                position: absolute;
                height: 100%;
                aspect-ratio: 1/1;
                border: 2px solid var(--gray);
                background-color: var(--white);
                border-radius: 50%;
                color: var(--gray);
                top: 0;
                left: 0;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .step-content {
            padding-left: 2.5rem;
            margin-bottom: 0.4rem;
            color: var(--gray);
            line-height: 2;
        }

        .badge {
            font-size: 13px;
            padding: 0.5rem 1rem;
        }

        &.complete {
            .step-header {
                color: var(--dark);

                .node {
                    border: 2px solid var(--blue);
                    color: var(--blue);
                }
            }

            &:not(:last-child) .step-content {
                border-left: 2px solid var(--blue);
            }
        }
    }
}